body {
    margin: 2rem;
    background-color: #D7DADB; //     font-family: 'Roboto Condensed', sans-serif;
    // font-family: 'Bitter', serif;
    // font-family: 'Noto Serif', serif;
}

.card {
    width: 12.5rem;
    height: 425px;
    background-color: white;
    // margin: 0;
    // position: absolute;
    border-radius: 5%;
    box-shadow: 0 8px 6px -6px #3D3D3D;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3D3D3D;
}
// top

.top {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-content: center;
}

.profile-pic {
    margin: auto;
    width: 100%;
    height: 12.5rem;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    box-shadow: 0 0.3rem 0.5rem #3D3D3D;
}

.profile-pic:hover {
    box-shadow: 0 0.3rem 0.8rem #3D3D3D;
}

img:hover {
    -webkit-transition: 0.2s all;
    -webkit-filter: brightness(50%);
}
// top
// mid

.mid {
    //     display: flex;
    //     justify-content: center;
    // background-color: blue;
    // width: 100%;
    // max-height: 50px;
}

.name {
    padding-top: 0.3rem;
    font-size: 2rem;
    color: #3D3D3D;
    font-family: serif;
    text-align: center;
    font-family: 'Bitter', serif;
}

.name:hover {
    padding-top: 0.3rem;
    color: black;
    font-family: serif;
    text-align: center;
    font-family: 'Bitter', serif;
}

.bio {
    padding: 1rem;
    font-size: 0.8rem;
    text-align: left;
}

.bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.third {
    border-top: 0.1rem solid;
    border-color: #3D3D3D;
    background-color: #FFCC00;
    height: 4rem;
    width: 33.3%;
    text-align: center;
}

.third:hover {
    background-color: #FFA300;
    box-shadow: 0 0.3rem 0.8rem #3D3D3D;
}

.left {
    border-bottom-left-radius: 10%;
}

.right {
    border-bottom-right-radius: 10%;
}

.icons {
    padding-top: 1rem;
}
